form.form-example {
   display: table;
 }
 
 div.form-example {
   display: table;
 }
 
 label,input {
   display: table-cell;
   margin-bottom: 10px;
 }
 
 label {
   padding-right: 10px;
 }
 label,naime{
   padding: 5px 2px 2px 3px;
 }
 label,email{
max-width: 150px;
 }
 